@inject IHttpClientFactory HttpClientFactoty
<h3>Smth</h3>
@if (transactionTypes is null)
{
    <p>Test null</p>
}

@code {
    private List<TransactionTypeDTO>? transactionTypes;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactoty.CreateClient("FinanceManagmentAppAPI");
        transactionTypes = await httpClient.GetFromJsonAsync<List<TransactionTypeDTO>>("api/TransactionType");
    }
}