@page "/transactionTypes"
@rendermode InteractiveServer
@inject ITransactionTypeService TransactionTypeService

<h3>Transaction Types</h3>

@if (TransactionTypes is null)
{
    <p>Loading...</p>
}
else if (!TransactionTypes.Any())
{
    <p>No transaction types found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Is Expense</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transactionType in TransactionTypes)
            {
                <tr>
                    <td>@transactionType.Name</td>
                    <td>
                        @if (transactionType.IsExpense)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteTransactionType(transactionType.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<TransactionTypeDTO> TransactionTypes { get; set; } = new List<TransactionTypeDTO>();
    TransactionTypeDTO CurrentTransactionType { get; set; } = new TransactionTypeDTO();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            TransactionTypes = await TransactionTypeService.GetAllAsync();
            StateHasChanged();
        }
    }

    private async Task DeleteTransactionType(Guid id)
    {
        await TransactionTypeService.DeleteAsync(id);
        TransactionTypes = await TransactionTypeService.GetAllAsync();
        StateHasChanged();
    }
}
